<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Quote Request</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/QuoteRequest/app/app.routes.js"></script>
    <script src="/QuoteRequest/app/Controllers/QuoteController.js"></script>
</head>
<body>
<div ng-controller="navigationController">
    <nav class="navbar navbar-inverse navbar-static-top navBottom" role="navigation" style="height: 80px; border-bottom-color: #AC2973; border-bottom-width: 5px;">
        <div class="navbar-outer">

            <!--<img src="/QuoteRequest/Content/Images/Beazley-bg-small.jpg" alt="">-->
            <div class="navbar-inner">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="/QuoteRequest/Content/Images/Beazley-logo-small.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
    <div class="container">
        <form class="col-sm-8 col-md-offset-2" data-toggle="validator" ng-app="quoteRequest" ng-controller="quoteController as vm" ng-init="vm.init()">
            <div class="row form-group">
                <div class="col-sm-8">
                    <label for="brokerEmail">Your email:</label>
                    <input type="email" class="form-control" id="brokerEmail" ng-model="vm.quoteRequest.broker" data-error="The email address is invalid" required/>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-8">
                    <label for="insuredName">Insured Name:</label>
                    <input type="text" class="form-control" id="insuredName" ng-model="vm.quoteRequest.insuredName" required/>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-8">
                    <label for="trade">Trade:</label>
                    <select class="form-control" ng-model="vm.quoteRequest.trade" id="trade" ng-init="vm.quoteRequest.trade = vm.trades[0]">
                        <option ng-repeat="trade in vm.trades">{{trade}}</option>
                    </select>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            
                <div class="row col-sm-8">
                    <label for="covers">Covers:</label>
                    <div class="form-group col-sm-12" ng-repeat="cover in vm.covers">
                        <div class="col-sm-4 col-xs-4">
                            <input type="checkbox"
                                   name="vm.selectedCovers[]"
                                   value="{{cover.name}}"
                                   ng-model="cover.selected"> <span>{{cover.name}}</span>
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <select class="form-control" ng-model="cover.value">
                                <option ng-repeat="value in vm.coverValues">{{value}}</option>
                            </select>
                        </div>
                    </div>
                </div>
           
            <div class="row form-group">
                <div class="col-sm-8">
                    <label for="revenue">Revenue:</label>
                    <input type="number" class="form-control" id="revenue" ng-model="vm.quoteRequest.revenue" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-8">
                    <label for="numberOfEmployees">Number of Employees:</label>
                    <input type="number" class="form-control" id="numberOfEmployees" ng-model="vm.quoteRequest.numberOfEmployees" value="{{vm.quoteRequest.numberOfEmployees | number}}"/>
                </div>
            </div>
            <div class="row form-group col-sm-8">
                <button type="submit" class="btn btn-default btn-lg pull-right" style="background-color: #AC2973;" ng-click="vm.requestQuote()">
                    <span style="padding-bottom: 7px; color: white;"> Submit</span>
                </button>
            </div>
           
        </form>
    </div>
</body>
</html>